/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
  }
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  main {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    margin-top: 2%;
  }
  
  .main-header {
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }
  
  .card {
    flex: 1 0 0;
    padding: 10px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
  }
  
  .card:hover{
    box-shadow: inset 0px 0px 8px var(--bright-turquoise), 0 0 15px var(--bright-turquoise);
  }
  .card footer {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .card img {
    width: 100%;
    min-width: 400px;
  }
  